* {
  box-sizing: border-box;
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

html, body {
  margin: 0;
  padding: 0;
  border: 0px solid #1bacbb;
}

div {
    text-align: center;
    border: 0px solid #1bacbb;
}

.row {
  display: flex;
  flex-wrap: wrap;
  color: #1bacbb;
}

.row-info {
  display: flex;
  flex-wrap: wrap;
}

.row-organizers {
  display: flex;
  flex-wrap: wrap;
}

.column {
  flex: 25%;
  padding: 20px;
}

.column-media {
    flex:75%;
}

.column-hero-text {
    flex:25%;
    text-align: center;
    font-size: 100%;
}

.column-info-text {
    flex:45%;
    text-align: justify;
    margin-right: 5px;
    margin-left: 5px;
    font-size: 100%;
}

.column-info-stats {
    flex:22.5%;
    font-size: 100%;
}

.column-image {
  flex: 30%;
  padding: 20px;
}

.column-video {
  flex: 40%;
  padding: 20px;
}


.column-organizer {
  flex: 30%;
  padding: 20px;
}



/* MEDIA TAGS */
/* On screens that are 850px wide or less, go from four columns to two columns */
@media screen and (max-width: 5000px) {
  .column {
    flex: 50%;
  }
  .column-media {
    flex:70%;
  }
  .column-media img {
    max-width:100%;
  }

  .column-hero-text {
      text-align: center;
      flex:30%;
  }
  .column-info-text {
    flex:50%;
    text-align: justify;
    margin-right: 5px;
  }

  .column-info-stats {
      flex:22.5%;

  }

}

/* On screens that are 800px wide or less, make the columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .row {
    flex-direction: column;
  }
  .column-media {
    flex:100%;
    max-width:100%;
  }
  .column-media img {
    max-width:100%;
  }

  .column-hero-text {
    flex:100%;
    font-size: 3vw;
  }
  
  .column-info-text {
    flex:100%;
    text-align: justify;
    margin-right: 5px;
    margin-left: 5px;
    font-size: 2.5vw;
  }

  .column-info-stats {
      flex:22.5%;
      font-size: 3vw;
      text-transform: uppercase;
  }
  
  .column-organizer {
      flex: 100%;
  }
  
  .column-organizer p {
      font-size: 2.5vw;
      text-transform: uppercase;
  }

}